@import url(./style.css);

.main {
    margin-block: 1rem;
    gap: 4rem;
}

.destination__figure {
    flex: 0 0 50%;

    display: grid;
    grid-template-rows: repeat(2, auto);
    & * {
        grid-column: 1;
    }
}

.destination__img {
    aspect-ratio: .85 / 1;
    object-fit: cover;

    grid-row: 1 / -1;
}

.destination__btn {
    grid-row: 1;
    justify-self: end;

    & .btn--like {
        display: flex;
        align-items: center;

        gap: .5rem;

        padding: .75rem;
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}

.destination__content {
    align-self: center;

    display: flex;
    gap: 1.25rem;

    flex-direction: column;
    align-items: center;
}

.content__location {
    font-size: 1.25rem;
    font-weight: 300;
}

.content__title {
    font-size: 2rem;
    font-weight: 300;
}

.content__subtitle {
    font-size: 1rem;
    font-weight: 300;
}

.content__text {
    font-size: 1rem;
    font-weight: 300;
}

.facilities__heading {
    align-self: start;
    font-weight: 500;
}

.facilities__list {
    align-self: start;
    padding-inline: 1rem;
}

.facilities__item {
    font-size: 1rem;
    font-weight: 300;
}