@import url(./style.css);

.main {
    margin-block: 2rem;
}

.destination__figure {
    flex: 0 0 50%;

    display: grid;
    grid-template-rows: repeat(2, auto);
    & * {
        grid-column: 1;
    }
}

.destination__img {
    aspect-ratio: .85 / 1;
    object-fit: cover;

    grid-row: 1 / -1;
}

.destination__btn {
    grid-row: 1;
    justify-self: end;

    & .btn--like {
        display: flex;
        align-items: center;

        gap: .5rem;

        padding: .75rem;
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}