@import url(./style.css);

.main {
    margin-inline: max(1rem, (100% - 75rem) / 2);
}

.for-rent__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 24%));

    gap: 1rem;
    justify-content: center;

    margin-top: 1rem;
}

.location__img {
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
}

.location__actions {
    display: flex;
    justify-content: space-between;
    align-self: center;

    padding: 1rem;
    background: #CEF9FF;
}

.location__more {
    font-size: .875rem;
    color: #000;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
}