@import url(./style.css);

.for-rent__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 22.5%));

    gap: 1rem;
    justify-content: center;

    margin: auto;
}

.location__img {
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
}

.location__actions {
    display: flex;
    justify-content: space-between;
    align-self: center;

    padding: 1rem;
    background: #CEF9FF;
}

.location__like {
    border: none;
    background: none;
}

.location__more {
    color: #000;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}