* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
}

.btn--like {
    border: none;
    background: none; 
    cursor: pointer;
}

.--flex {
    display: flex;
}

.--liked {
    stroke: #ff0000;

    & path {
        fill: #ff0000;
    }
}

